src/main/resources/wsdl/emails.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://email/com/web-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://email/com/web-service" targetNamespace="http://email/com/web-service">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://email/com/web-service">
            <xs:complexType name="email">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element minOccurs="0" name="subject" type="xs:string"/>
                    <xs:element minOccurs="0" name="body" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="code">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codeStatus" type="xs:string"/>
                    <xs:element minOccurs="0" name="codeMessage" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="emailsList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="email" type="tns:email"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getEmailByAddressRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="address" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailBySubjectRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="subject" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" type="tns:code"/>
                        <xs:element name="email" type="tns:email"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmailRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="id" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" type="tns:code"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmailRequest">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" type="tns:code"/>
                        <xs:element minOccurs="0" name="emailsList" type="tns:emailsList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setEmailRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="address" type="xs:string"/>
                        <xs:element name="subject" type="xs:string"/>
                        <xs:element name="body" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setEmailResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="code" type="tns:code"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="deleteEmailRequest">
        <wsdl:part element="tns:deleteEmailRequest" name="deleteEmailRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmailByAddressRequest">
        <wsdl:part element="tns:getEmailByAddressRequest" name="getEmailByAddressRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllEmailRequest">
        <wsdl:part element="tns:getAllEmailRequest" name="getAllEmailRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmailResponse">
        <wsdl:part element="tns:getEmailResponse" name="getEmailResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteEmailResponse">
        <wsdl:part element="tns:deleteEmailResponse" name="deleteEmailResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllEmailResponse">
        <wsdl:part element="tns:getAllEmailResponse" name="getAllEmailResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setEmailRequest">
        <wsdl:part element="tns:setEmailRequest" name="setEmailRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmailBySubjectRequest">
        <wsdl:part element="tns:getEmailBySubjectRequest" name="getEmailBySubjectRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="setEmailResponse">
        <wsdl:part element="tns:setEmailResponse" name="setEmailResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmailsPort">
        <wsdl:operation name="deleteEmail">
            <wsdl:input message="tns:deleteEmailRequest" name="deleteEmailRequest"> </wsdl:input>
            <wsdl:output message="tns:deleteEmailResponse" name="deleteEmailResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmailByAddress">
            <wsdl:input message="tns:getEmailByAddressRequest" name="getEmailByAddressRequest"> </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllEmail">
            <wsdl:input message="tns:getAllEmailRequest" name="getAllEmailRequest"> </wsdl:input>
            <wsdl:output message="tns:getAllEmailResponse" name="getAllEmailResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmail">
            <wsdl:output message="tns:getEmailResponse" name="getEmailResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setEmail">
            <wsdl:input message="tns:setEmailRequest" name="setEmailRequest"> </wsdl:input>
            <wsdl:output message="tns:setEmailResponse" name="setEmailResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmailBySubject">
            <wsdl:input message="tns:getEmailBySubjectRequest" name="getEmailBySubjectRequest"> </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmailsPortSoap11" type="tns:EmailsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteEmail">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmailByAddress">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmailByAddressRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getAllEmail">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmail">
            <soap:operation soapAction=""/>
            <wsdl:output name="getEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setEmail">
            <soap:operation soapAction=""/>
            <wsdl:input name="setEmailRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="setEmailResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmailBySubject">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmailBySubjectRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmailsPortService">
        <wsdl:port binding="tns:EmailsPortSoap11" name="EmailsPortSoap11">
            <soap:address location="http://localhost:8080/ws/soap-emails"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>